@import "../../css/pallete";
@import "../../css/typography";

.percentage-item {
  height: 20px;
  margin-bottom: 3px;
  min-width: 1px;
  position: relative;

  &__text {
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
  }

  &__text.left {
    position: absolute;
    right: 100%;
    text-align: right;
    width: 50vw;
  }

  &__text.right {
    left: 100%;
    position: absolute;
    text-align: left;
    width: 50vw;
  }
}
