
.main-panel-wrapper {
  padding: 30px;
  max-height: 100%;
  overflow-y: auto;
}

.main-panel-empty {
  text-align: center;
  margin-top: 100px;
  color: #555;
}

.main-panel-title {
  font-size: 30px;
  margin-bottom: 30px;
  color: #CCC;
}

.percentage-item {
  position: relative;
  height: 20px;
  min-width: 1px;
  margin-bottom: 3px;
}

.percentage-item-text {
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
}

.percentage-item-text.left {
  position: absolute;
  right: 100%;
  width: 70vw;
  text-align: right;
}

.percentage-item-text.right {
  position: absolute;
  left: 100%;
  width: 70vw;
  text-align: left;
}
