@import '../../css/pallete';

.side-bar-toggle {
  align-items: center;
  background: $color-darker-background;
  border: 0;
  color: $color-text-main;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  outline: 0;
  width: 15px;

  &:hover {
    background: lighten($color-darker-background, 2%);
  }
}
