@import "../../css/pallete";
@import "../../css/typography";

.main {
  max-height: 100%;
  overflow-y: auto;
  padding: 30px;
  position: relative;

  &__empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    justify-content: center;
  }

  &__empty-text {
    color: $color-text-main;
    text-align: center;
  }

  &__title {
    @include typography(xxl, bold);
    margin-bottom: 30px;
  }

  &__hide-small {
    display: block;
    margin-bottom: 10px;
  }
}
