@import '../../css/pallete';

.layout {
  display: flex;
  height: 100%;

  &__side-bar {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 0px;
  }

  &__side-bar.active {
    border-right: 1px solid $color-border;
    width: 240px;
  }

  &__main-content {
    flex: 1;
    height: 100%;
    position: relative;
  }
}
