$color-background: #282c34;
$color-border: lighten($color-background, 20%);
$color-darker-background: darken($color-background, 5%);
$color-status-bad: #bf6b6b;
$color-status-good: #6bbf89;
$color-status-regular: #6bb7bf;
$color-text-main: #a8b0bf;
