@import './pallete';
@import './typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include typography();
  background: $color-background;
  color: $color-text-main;
}
