@mixin typography-base {
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-weight($weight: regular) {
  $typography-font-weight-values: (
    regular: 300,
    bold: 600,
  );

  @if not map-has-key($typography-font-weight-values, $weight) {
    @error "Invalid weight specified! Choose one of #{map-keys($typography-font-weight-values)}";
  }

  font-weight: map-get($typography-font-weight-values, $weight);
}

@mixin typography($scale: s, $weight: regular) {
  $typography-scales: (
    xxl: (
      font-size: 28px,
      letter-spacing: 0.3px,
      line-height: 34px
    ),
    xl: (
      font-size: 22px,
      letter-spacing: 0.3px,
      line-height: 28px
    ),
    l: (
      font-size: 18px,
      letter-spacing: 0.2px,
      line-height: 24px
    ),
    m: (
      font-size: 16px,
      letter-spacing: 0.2px,
      line-height: 20px
    ),
    s: (
      font-size: 14px,
      letter-spacing: 0.2px,
      line-height: 16px
    ),
    xs: (
      font-size: 12px,
      letter-spacing: 0.1px,
      line-height: 14px
    ),
    xxs: (
      font-size: 10px,
      letter-spacing: 0.1px,
      line-height: 12px
    )
  );

  @if not map-has-key($typography-scales, $scale) {
    @error "Invalid style specified! Choose one of #{map-keys($typography-scales)}";
  }

  $scale-props: map-get($typography-scales, $scale);
  @each $key, $value in $scale-props {
    #{$key}: $value;
  }

  @include font-weight($weight)
}
