* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.link {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
