#root {
  display: flex;
  height: 100%;
}

.message-panel {
  position: fixed;
  width: 100%;
  background: #0d7098;
}

.message-box {
  width: 100%;
  padding: 10px 20px;
}


.side-panel {
  width: 240px;
  height: 100%;
  background: #222;
  border-right: 2px solid #222;
}

.side-panel-wrapper {
  max-height: 100%;
  overflow-y: auto;
}

.side-panel-item {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 1px;
  background: #333;
  color: white;
}

.side-panel-item:hover {
    background: #3f3f3f;
}

.side-panel-item.selected {
  background: #484848;
}

.side-panel-item__name {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.side-panel-item__start-time {
  position: absolute;
  left: 10px;
  bottom: 3px;
  font-size: 10px;
  color: #888;
}

.side-panel-item__duration {
  position: absolute;
  right: 10px;
  bottom: 3px;
  color: #6bb7bf;
}

.duration--good {
  color: #6bbf89;
}

.duration--bad {
  color: #bf6b6b;
}

.side-panel-item__remove {
  display: none;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: #444;
  text-align: center;
  line-height: 17px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.side-panel-item:hover .side-panel-item__remove {
  display: block;
}

.side-panel-item__remove:hover {
  background: #bf6b6b;
}

.side-panel-item__clear {
  padding: 20px;
  text-align: center;
  color: #888;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.side-panel-item__clear:hover {
  color: #aaa;
}


.main-panel {
  flex: 1;
  height: 100%;
  position: relative;
}

.main-panel-wrapper {
  padding: 30px;
  max-height: 100%;
  overflow-y: auto;
}

.main-panel-empty {
  text-align: center;
  margin-top: 100px;
  color: #555;
}

.main-panel-title {
  font-size: 30px;
  margin-bottom: 30px;
  color: #CCC;
}

.percentage-item {
  position: relative;
  height: 20px;
  min-width: 1px;
  margin-bottom: 3px;
}

.percentage-item-text {
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
}

.percentage-item-text.left {
  position: absolute;
  right: 100%;
  width: 70vw;
  text-align: right;
}

.percentage-item-text.right {
  position: absolute;
  left: 100%;
  width: 70vw;
  text-align: left;
}
